[2015-03-25 15:14] abuiles opened #4 "Add default suggestions function and optionsToMatch."
We could have a generic suggestion and optionsToMatch to make easier for people to migrate for other plugins which use a select like syntax.

I'd like to propose the following API for an out-of-the-box experience

[code]

With this, the suggestions will be filtered based on `optionLabelPath` and assigns the selected value to `optionValuePath`.

[2015-03-25 15:15] abuiles opened #5 "Maybe use ember-list-view"
We could have some performance gains from this. As soon as it is compatible with the latest Ember it would be worth exploring.

[2015-03-25 16:40] abuiles opened #6 "Don't pollute content with highlight"
It looks like we are settings 'highlight' in every object passed to the autocomplete, we should find a way to avoid this.

Currently I'm wrapping my objects in a proxy, but that requires extra implementation on consumers end, we could probably create a component to wrap every result and then pass enough context to such component so it knows if it needs  to be highlighted or not.

[2015-03-25 16:59] toranb commented on #6
Wow you are a beast man! You cool if I make you a full blown contributor on github and npm? Hate to slow down your epic progress :)

[2015-03-25 17:01] abuiles commented on #6
@toranb sounds good :)

[2015-03-25 23:24] toranb commented on #6
Just for others who are following along - you are referring to this line (correct?)

https://github.com/toranb/ember-cli-auto-complete/blob/master/addon/components/auto-complete.js#L74

[2015-03-25 23:27] toranb commented on #5
The only opinion I have for this component is to keep deps light (for as long as possible anyway). I'm using this internally for a few apps and we've already a ton of pain w/ npm transient dep issues (the upgrade to ember-cli 0.2.0) and I'd like to tread lightly on this one for a bit to avoid any more upgrade pain points

regardless - it's noted :)

[2015-03-25 23:28] toranb commented on #4
I assume this ties in nicely w/ the PR you've been cranking away on? I'm not opposed to the idea (haven't worked much w/ the other type ahead components yet myself) and having a glide path for new people is always a plus

[2015-03-25 23:59] abuiles commented on #5
Cool, which ember versions are you targeting?

—
Sent from Mailbox

On Wed, Mar 25, 2015 at 6:27 PM, Toran Billups notifications@github.com
wrote:

[2015-03-26 01:13] toranb commented on #5
Right now we are using 1.11 beta 5 (I jumped to 1.11 because components actually work now). Example: the yield out from the component (allowing the easy/nice block param to def your own custom html)

[2015-03-26 05:02] bobbyhubbard commented on #6
+1

[2015-03-30 19:52] jking6884 opened #7 "Issues with selecting items from this widget"
When you click the input, the suggestions drop down and you can click one.  However, if you click on the input and select a different options several times, it seems to eventually have issues firing the selectItem action.  One this happens, you can double click the items in the drop down list and it will select it.  You can also change the text in the text box by typing and then clicking something

[2015-03-31 00:59] toranb commented on #7
Wow thanks for the rocking feedback! I need to verify I can reproduce this w/ pure ember-testing first and if not (because your results are very mouse driven) I might need to result to selenium (hope not but it's an option).

Thanks for taking the time to write this up - I'll get w/ @abuiles to see what we can do to better ensure click events are sent/bubbld' up :)

[2015-03-31 01:00] toranb commented on #7
Also - just to clarify  ~ are you using ember 1.11 (to help me reproduce this)

[2015-03-31 01:01] toranb commented on #6
@abuiles can you think of an easier way to work around this / yet show "highlight" in the component (rendred) ? What does this proxy thing you mention look like in practice?

[2015-03-31 02:26] jking6884 commented on #7
Thanks for getting back to me as well!  Btw, we are using a couple of your widgets in our apps now with great success and are wanting to implement auto complete as well.  Really appreciate the work you guys are doing!

[code]

 Also - just to clarify ~ are you using ember 1.11 (to help me reproduce this)—
Reply to this email directly or view it on GitHub.

[2015-03-31 02:31] jking6884 commented on #7
Yes, I updated the project today to 1.11.

[code]

 Thanks for getting back to me as well!  Btw, we are using a couple of your widgets in our apps now with great success and are wanting to implement auto complete as well.  Really appreciate the work you guys are doing!

[code]

 Also - just to clarify ~ are you using ember 1.11 (to help me reproduce this)—
Reply to this email directly or view it o

[2015-03-31 02:33] jking6884 commented on #7
Have you been able to 'see' the issue yet?  I can try to record a screen cast if it would be helpful? Don't know if my description was clear enough or not.  Just let me know.

[code]

 Yes, I updated the project today to 1.11.

[code]

 Thanks for getting back to me as well!  Btw, we are using a couple of your widgets in our apps now with great success and are wanting to implement auto complete as

[2015-03-31 02:59] toranb commented on #7
I was able to see the "double click required" behavior you mention. After playing around w/ the jsbin I can see how a combination of clicking + typing ahead and selecting/selecting again wasn't being picked up as you'd expect.

I still need to write a failing ember-testing acceptance-test or selenium test to prove it /fix it for real this week. I'll follow up later in the week when I get a free mi

[2015-04-01 15:29] abuiles commented on #4
@toranb I wrote 2 components on top of this, and I think I like it more simple and let people extend as they want.

[2015-04-01 15:29] #4 closed, assigned to nobody

[2015-04-02 03:03] toranb commented on #4
wow - any of them open source that you can share? I'd love to see how this can play a solid role as the primitive for type aheads :)

[2015-04-02 16:11] abuiles commented on #4
@toranb they are closed but I can extract that into an addon, I'm still fleshing out some details, I'll publish once we are done :)

[2015-04-03 22:17] toranb commented on #7
Just following up to confirm I didn't have time yet this week to write a failing test for this /look it over to fix the bug you found. Sorry for the delay - just working heavily on the identity map this week (doing a few 1.0 beta releases throughout the week).

[2015-04-08 04:19] toranb commented on #7
A little more playing around and I landed a failing scenario (not a failing test just yet)

[code]

This is what I'm doing manually but it "passes" as a test currently. I'm hoping to learn why this acceptance test I wrote isn't _exactly_ like the way the browser behaves before I can dive in deeper to solve this issue.

**update**

My guess is that when I click around (quickly) in bowser this run l

[2015-04-10 02:14] toranb commented on #7
Just to confirm - removing the focusOut block completely solves this problem. I'll dig in tonight to learn why :)

[2015-04-10 03:07] toranb commented on #7
After a little hacking I also found the filter wasn't being reset :)

I just did a publish so look for 0.0.12 on npm. I also attempted to fix the clicking problem you reported - can you verify it's working better than it did previously? Any other issues let me know (jsbin was updated also to use the latest)

http://emberjs.jsbin.com/niluhaloke/1

[2015-04-10 03:10] toranb commented on #7
I'll close this issue out for now but please reopen if you see any other click related problems / selection issues. Thanks again for reporting the bug !

[2015-04-10 03:10] #7 closed, assigned to nobody

[2015-04-10 03:10] toranb commented on #5
Closing this issue for now - if we need this for perf reasons lets reopen / revisit the issue

[2015-04-10 03:10] #5 closed, assigned to nobody

[2015-04-10 03:39] jking6884 commented on #7
Thanks for following up.  I will definitely get the new code and check it out.

John

[code]

 I'll close this issue out for now but please reopen if you see any other click related problems / selection issues. Thanks again for reporting the bug !—
Reply to this email directly or view it on GitHub.

[2015-04-10 03:44] jking6884 commented on #7
Thanks for following up.  I will definitely get the new code and check it out.

John

[code]

 Thanks for following up.  I will definitely get the new code and check it out.

John

[code]

 I'll close this issue out for now but please reopen if you see any other click related problems / selection issues. Thanks again for reporting the bug !—
Reply to this email directly or view it on GitHub.

[2015-04-15 22:12] jking6884 commented on #7
Toran,
I got your new code but it seems that the problem still persists.  The functionality works great if you are just using the keyboard, but if you type in "AB" (using your jsbin) and then try to click one of the options as though it were a traditional select, there is only a small percentage of chance that it will properly fire the selectItem action.  After some testing I believe that what is

[2015-04-16 12:26] toranb commented on #7
If a solid 200 works what downside do we get with making the change?

Also -doing a little research ... 200 appears to be the magic number as you suggested :)

https://github.com/klclee/ember-cli-suggest/blob/master/addon/mixins/suggest.js#L42

[2015-04-17 02:24] toranb commented on #7
I just published 0.1.0 (and it includes the new timeout of 200 as suggested). Please give it a look and report back if you find it's still half baked :)

http://emberjs.jsbin.com/domuvo/1

I also fixed the non legit jsbin in the readme to what you see above

[2015-04-28 20:44] gte451f opened #9 "Ember Warning"
Starting in Ember 1.11 this appears...

WARNING: Binding style attributes may introduce cross-site scripting vulnerabilities; please ensure that values being bound are properly escaped. For more information, including how to disable this warning, see http://emberjs.com/deprecations/v1.x/#toc_warning-when-binding-style-attributes.

Working on a PR to address.

[2015-04-29 00:27] toranb commented on #9
fixed in your PR :) thanks again for the heads up!

[2015-04-29 00:27] #9 closed, assigned to nobody

[2015-04-29 02:22] gte451f opened #11 "Remote Backing using Ember Data"
I'm curious does anyone have an idea how they would go about taking the input a user types in and use that to drive a remote ajax query through Ember Data?

I've had some success hacking the suggestion function in my own custom component that extends the auto-complete.   From there I make a call through the store, IE

[code]

But I'd like to know the correct place to hook into where I can rebuild

[2015-04-29 17:33] toranb commented on #11
Just to clarify - you would use this feature to fetch the list of items remotely (using a filter when you hit the server I presume)? Something configurable as you want to limit the number of records coming back /etc?

This would require some research to see what the best implementation in ember looks like (with or without ember-data).

My guess is someone would need to champion the feature / flush

[2015-04-30 12:00] Floby opened #12 "Doesn't load with ember-cli 0.2.3 or README is inaccurate"
Hello,

When trying to use this package, ember breaks with this error:

[code]

My component was a straight copy from the README example and it just can't load the base auto-complete component.

What am I missing ?

[2015-04-30 12:34] toranb commented on #12
What version of ember are you using? Is this app built using ember-cli or globals? If ember-cli - what version?

[2015-04-30 20:11] sebadom commented on #12
I came across this issue too and i'm using ember-cli 0.2.3

[2015-04-30 20:14] sebadom commented on #12
i think it uses ember 1.10 and i know that the doc says it should use ember 1.11 for the options template to work, but despite that, the base component should be loaded when extending it and that is the base issue

[2015-05-01 01:13] toranb commented on #12
Having a hard time reproducing this w/ ember-cli 0.2.3 because when I npm install it and try "ember new" it blows up. I hear 0.2.4 is in the pipe to fix an army of bugs in 0.2.3. Do you have an example using 0.2.3 that I can do a simple "git pull" to play with myself?

[2015-05-04 12:57] sebadom commented on #12
mmmm... i started an empty test app so i could share it with you, but i was able to import the autocomplete with no issues.. so now i'm a bit confused on why i hitted this on the first place... maybe it's a compatibility issue with another ember addon.. i'm just thinking out load... i will investigate a little more and come back with any findings.

thanks

[2015-05-04 23:52] toranb commented on #12
And to think I was crazy for not being able to reproduce it myself :)

[2015-05-05 07:10] Floby commented on #12
I'll try and make minimal example that reproduces it today
Le 5 mai 2015 1:52 AM, "Toran Billups" notifications@github.com a écrit :

[2015-05-09 22:00] gte451f commented on #11
I've had some success building a remote backed auto suggest w/o any modifications to the underlying  component.

Here is a gist that demonstrates the approach:
https://gist.github.com/gte451f/85d74be8b0bd539a8d19

The key points is that this component modifies the behavior of the auto suggest to first ask the Controller to update the Options array....THEN it asks the component to update the sugges

[2015-05-10 21:30] toranb commented on #11
@gte451f wow awesome to see the basic auto complete supports this with a little help from the controller.

I'm all for including something in the readme but if we do I'd like to include a jsbin or link to an example project to help people use it / see that in action. Would either option work for you / be something you'd be willing to help with?

[2015-05-10 21:41] toranb commented on #11
@gte451f also I noticed your comment about the "label" being incorrectly documented. If you update the readme, could you include an update to this so the docs aren't broken as you mentioned?

[2015-05-12 01:16] gte451f commented on #11
My JSBin Fu isn't very strong, but I'll take a shot sometime in the future.  I'll check out the existing demo and work from that.

[2015-05-14 15:33] shripathee opened #14 "Conflicts with main app css"
[code]

This especially, and the placeholder and input CSS affect the whole app.

[2015-05-15 00:23] toranb commented on #14
Can't disagree with that logic. After reading more about how teams share code with ember-cli addons I'm starting to realize we shouldn't ship custom css ever (it always gets overridden by the people/teams using it).

One work around today -go into your app/index.html and remove the vendor.css entry. This will pull all the css that any addons you are using would normally "add/include"

Long(er) ter

[2015-05-15 05:50] shripathee commented on #14
I think that is the way to go. Yeah, I found a work around. Super useful add-on though. :+1:

[2015-05-25 12:55] btecu opened #15 "Demo crashes browsers"
I haven't tried to debug, but I wanted to see how this works. Unfortunately, both Firefox and Chrome hang when I try to interact with the component on the demo page (http://emberjs.jsbin.com/domuvo/2/).

[2015-05-25 16:47] toranb commented on #15
Ah, good catch :)

I'll see if I can update the jsbin tonight (might be a ember beta release that broke it)

[2015-05-25 23:11] toranb commented on #15
Just updated it to use ember 1.11.3 in the jsbin and all is working well :)

http://emberjs.jsbin.com/hohegogizi/1/

[2015-05-25 23:11] #15 closed, assigned to nobody

[2015-06-14 07:51] kevintraver opened #16 "Option to disable suggestions initially"
It might be nice to have some sort of way to disable the results initially until a search has been entered.

Thanks!

[2015-06-14 17:02] kevintraver commented on #16
Ill work on a pull request for this. It might also be nice to have a minimum search length property.

[2015-06-14 20:42] toranb commented on #16
Agreed on both features :)

Would love to turn that off (optionally) and if adding a min search length achieves this - even better!

Thanks for offering to do the PR yourself! The test suite is comprehensive so it should provide a good working example of how to prove the feature works as expected (without breaking any of the existing behavior)

Let me know if you have questions or need any help!

[2015-07-18 12:44] stravid commented on #16
I'm looking into implementing this feature myself and already read the codebase. Before I start I wanted to ask a few questions so we are on the same page @toranb:
- Currently one has to implement a computed property to determine the suggested options. This solution is tightly coupled to the internals of the component, namely it depends on the `inputVal` and `options` attributes. I suggest moving

[2015-07-21 03:59] toranb commented on #16
Sorry for the massive delay here - on the proposed change -> looks much cleaner than what I had for sure. Assuming the tests pass I'd call that a win/win

About the inline style attrs - I'd love a hbs helper if you don't mind rolling one /updating this to use it. Keep in mind this is built for ember 1.12+ so use the latest hbs helper syntax if you would please :)

If you want to cleanup the code -

[2015-07-21 11:29] stravid commented on #16
No worries, I know how time demanding open source is and that there are other, more important things in life :)

I already finished the refactoring from implicit computed properties to explicit functions with all tests passing. While doing so I found a few things that are not entirely clear to me, maybe you can shed some light on it:
1. What is the purpose of `optionsToMatch`?
2. What is the diffe

[2015-07-21 14:30] toranb commented on #16
1) I think those are literally the "options" that show up as you typeahead (think select -these would literally be options)
2) I think selectedValue might be the only part that matters (it's the basic value tracking what the user inputs from what I can tell). If you can eliminate one and still have it work I'd call that a win

[2015-07-22 18:04] stravid commented on #16
I hope it's okay for you if I ask so many questions, I'm trying to understand the component before I try to improve things. Regarding the `optionsToMatch`: I stepped through every imaginable scenario with the debugger and I think it is used for a single feature:

If the input loses focus and the entered text is an exact match to an option the input is not cleared.

The user supplied functions `sug

[2015-07-24 01:28] toranb commented on #16
Wow this was a serious look at the addon/behavior and I must say I'm impressed :)

About the table -just to clarify your commands

1) clear input meaning you wipe the input box and blur away
2) keep input meaning you hit enter or ? does it instead mean you blur away (tab key) ?

About the bug/issue you mention "Abc" + blur I can see your point of view and agree it's an improvement. From the testin

[2015-07-24 05:55] stravid commented on #16
Regarding the table: The blur happens before the table comes into play. The table visualises what happens when a blur is triggered. When then users hits tab / enter / clicks outside the, component tries to decide what should happen with the inputs text.

Clear input = The component resets the inputs text to an empty string
Keep input = The component doesn't touch the input text

You are absolutely

[2015-07-30 01:57] toranb commented on #16
@stravid should I still reply to your comments above before we do a 1.0 release so we can get this inline with your expectations?

[2015-07-30 01:58] toranb commented on #14
I'm closing this out for now but the 1.0 (when released sometime in August) will not ship any css. If you have any issue w/ this decision just let me know :)

[2015-07-30 01:58] #14 closed, assigned to nobody

[2015-07-30 01:59] toranb commented on #12
@Floby I haven't heard anything in a few months so I'm closing this out for now - let me know if you find another regression :)

[2015-07-30 01:59] #12 closed, assigned to nobody

[2015-07-30 02:01] toranb commented on #11
@gte451f it might be worth creating a demo on this new site (it's ES6 / ember-cli friendly)

http://ember-twiddle.com/

[2015-07-30 06:27] stravid commented on #16
@toranb If you have the time, sure!

[2015-07-31 01:30] toranb commented on #16
So I finally took the 2 minutes to read your 2 suggestions :) and I think I like option a right now because it _should_ toLower both sides and honestly this is a bug IMHO.

The 2nd option is interesting though because in my "programming" experience it acts more like a fuzzy finder (ie- how I use vim day-to-day now). Maybe you could explain this a bit more to help me get on board :) after all we ar

[2015-07-31 06:33] stravid commented on #16
My pull request already implemented option a. It also added a regression test to make clear that this behaviour was a bug. (I'm with you on this one.)

I can understand the confusion, it took me a while to wrap my head around it. Here is my current explanation what happens inside the component:

The logic for determining the suggestions acts more or less like a fuzzy finder, depending on the consu

[2015-08-05 13:27] toranb commented on #16
I'm coming around to the idea as part of the v1.0.0 release (as some might see this as a breaking change). I've played around with a few select options this past week and every single one does exactly what you described above.

Did you already have a PR /something in flight that would update this to match more like a real fuzzy matcher would or is this a feature request of sorts?

[2015-08-05 13:31] stravid commented on #16
It's not yet implemented but my last pull request made it easy to switch to this logic. I will implement it and open a new pull request if that works for you.

[2015-08-06 00:24] toranb commented on #16
@stravid would love that :) but no rush on my part. I plan to wait on the 1.0 release until we get your latest PR and I get a chance to have @joe-l-bright verify it's solid in his pre-1.0 apps

[2015-08-09 17:31] kagemusha opened #21 "npm package needs to be updated"
seems current npm package doesn't have latest commits

[2015-08-09 21:13] toranb opened #22 "v1.0.0 release checklist"
Currently the auto-complete addon is pre-1.0 and I've got a few items I'd like to see before we release the true 1.0

merge the pull request to reduce the surface area #19 *done
get feedback from consumers who are upgrading from pre-1.0 *pending help from @joe-l-bright
merge an update for the revised fuzzy search *waiting for help from @stravid
update the JSbin for the demo (and include it for emb

[2015-08-09 21:14] toranb commented on #21
Agreed - we are waiting to do a complete v1.0.0 update (checklist mentioned below)

https://github.com/toranb/ember-cli-auto-complete/issues/22

To get what's in master today you can npm install the beta 1 of v1.0.0

[code]

[2015-08-09 21:15] #21 closed, assigned to nobody

[2015-08-09 21:15] toranb commented on #16
I'm closing out this issue - let me know when you get time this month/or next to crank out the PR :)

[2015-08-09 21:15] #16 closed, assigned to nobody

[2015-08-19 19:48] jamesarosen opened #24 "Whole page scrolls on keyboard navigation"
When I use the up and down arrows to navigate the suggestions list, the whole window scrolls, not just the list.

See http://stackoverflow.com/questions/11039885/scrollintoview-causing-the-whole-page-to-move

[2015-08-19 19:51] jamesarosen opened #25 "selectedValue shouldn't write back to its input"
I have something along the lines of

[code]

Whenever I type into the autocomplete input, that binding causes `account.owner.name` to be written to. I can work around this with

[code]

or by creating a new property in `MyAutocomplete`:

[code]

But it would be nice if this library treated that property as input-only and wrote to a private version like `_selectedValue`.

[2015-08-19 19:53] jamesarosen commented on #24
One thing that _sort of_ works is

[code]

It would be nice to be a bit smarter there and only scroll if it's not in-view.

[2015-08-19 23:19] jamesarosen commented on #24
This seems to work pretty well:

[code]

[2015-08-26 18:12] jamesarosen opened #26 "Trouble Writing Acceptance Tests"
Based on https://github.com/toranb/ember-cli-auto-complete/blob/master/tests/acceptance/end-to-end-test.js, I tried the following:

[code]

The value in the text field updates, but the action never triggers. Have you written any acceptance tests in apps that use this component?

[2015-08-26 18:20] jamesarosen commented on #26
Wrapping the last line in `Ember.run` seems to make the UI do what I expect. So does wrapping the whole function. But the action still doesn't get triggered.

[2015-08-26 18:40] jamesarosen commented on #26
Nope. I'm wrong. The action is firing. It's elsewhere my test is failing.

The code above might make a good test helper, though!

[2015-08-26 18:40] #26 closed, assigned to nobody

[2015-08-26 18:54] jamesarosen commented on #26
What finally worked was wrapping the above in

[code]

[2015-08-26 20:05] toranb commented on #26
Awesome detail in this issue! I need to have you QA all my ember addons :)

[2015-08-27 18:08] jamesarosen opened #27 "hasInputMatchingSuggestion throws NPE"
https://github.com/toranb/ember-cli-auto-complete/blob/d068282fb522d8ac158d318db54451b991795944/addon/components/auto-complete.js#L111-L118
### Reproduction Steps
1. Create an autocomplete with data and a valid current value
2. Click into the autocomplete. `suggestions` is `null` (because `onInput` hasn't yet fired), so the menu shows empty.
3. Click out of the autocomplete. `suggestions.length` t

[2015-08-27 18:14] jamesarosen commented on #27
I can fix this by calling `this.onInput()` in `didReceiveAttrs`.

[2015-08-27 18:31] toranb commented on #27
wow great find! You must be really using this component - finding all my bugs :)

[2015-08-27 18:31] toranb commented on #27
Thanks for the repro - I'll write a test and start a PR tonight!

[2015-08-27 18:33] jamesarosen commented on #27
You can actually _replace_ the `observes` call with

[code]

[2015-08-28 02:41] toranb commented on #27
@jamesarosen so ... are you saying it's a quick fix  (using the didReceiveAttrs line you mentioned) ?

[2015-08-28 02:54] jamesarosen commented on #27
I'm 98% sure that removing the `observer` call and adding the lines above is the correct general-purpose fix.

[2015-08-28 03:06] toranb commented on #27
Hmm I can't seem to reproduce it in 4200 land or in a test but .. I tried so here is the PR

https://github.com/toranb/ember-cli-auto-complete/pull/28

Would you mind altering the test to show the npe (when you have time)? Thanks again for the epic QA

[2015-08-28 17:52] jamesarosen commented on #27
I poked a little. I don't quite have it yet, but here are some notes.

First, the problem only occurs when the autocomplete is initialized with a `selectedValue` that matches one of the elements. Thus,

[code]

Second, the problem only occurs when clicking in and clicking out without typing anything. Thus,

[code]

But even that doesn't _quite_ do what I want because the first assertion fails, whe

[2015-08-28 17:53] jamesarosen commented on #27
Oh, I'm wrong! It is the third test that's failing. Perfect!

[2015-08-28 17:55] jamesarosen commented on #27
My proposed fix doesn't fix that failing test, though. I think it's because the `focusOut` isn't bubbling. I need to trigger it on the autocomplete element itself.

[2015-08-28 18:04] jamesarosen commented on #27
When I change `focusOut` to `blur`, the test passes without any code modifications. I suspect the problem lies in my particular subclass of the component -- or rather in the fact that my subclass is incompatible with the existing `observer` approach.

My subclass looks like

[code]

It might be those `set`s that are conflicting with the `observes`.

[2015-09-05 22:21] toranb commented on #27
@jamesarosen sorry for the 9 day hiatus here :(

After a quick followup I had some questions

1) you seem to have this bug still when

  a) you have a selected value (from the model down) (ie- it's provided on render)
  b) you override the base AutoComplete as shown -using a setter (w/out any special ember.run)
  c) you don't call this.onInput() as shown above

2) focusOut (not blur) will show err

[2015-09-13 21:58] jamesarosen commented on #27
https://www.youtube.com/watch?v=vvZEddrClAQ @stefanpenner would be happy if you switched from the `observer` solution to `didReceiveAttrs` ;)

I'm not sure what the right test to add for this would be.

[2015-09-14 13:03] toranb commented on #27
Totally agreed - just had an observer burn me again this week ....

I'll carve out some time this week to update this as requested :)

[2015-09-15 00:23] anthonygore opened #29 "Documentation needs to be updated, contains incorrect info"
README.md contains incorrect instructions for using the component.

It says you need to implement `determineSuggestions`. I couldn't get it working until I named the function `suggestions` . Also, the `focusOut` function in auto-complete.js will fail unless you also implement `optionsToMatch` in your custom component.

Also, just as a hint to anyone creating a custom component with ember-cli, it w

[2015-09-15 00:26] toranb commented on #29
wow dude so sorry -honestly looks like you just went through the pain of upgrading/using this :(

would you be open to do a PR to update the docs as you suggested? I'd love to hear from a new (fresh) user that knows what's broken/lacking

[2015-09-15 00:37] anthonygore commented on #29
Yeah, no probs.

[2015-09-15 23:43] jamesarosen opened #30 "selectedFromList doesn't get reset to false"
As soon as I select a value from the list, `selectedFromList` gets set to `true`. Reopening the list doesn't reset it to `false`. That means that if I
1. click the menu
2. clear the text input
3. select a value
4. click the menu
5. click away

Then the `func` callback will never set `inputVal` and `selectedValue` to `""` any more.

[2015-09-15 23:48] jamesarosen opened #31 "Cannot customize focusIn, focusOut behavior"
When I focus on an autocomplete that already has a value, it retains the value. That means that the list is prefiltered to exactly one item. It's not obvious to the user that clearing the value would give them more options.

Instead, I suggest
1. keep `selectedValue` as the public API
2. copy `selectedValue` to `_selectedValue` in `didReceiveAttrs`
3. use `_selectedValue` in the display value of t

[2015-09-16 01:02] toranb commented on #30
great repro setup - I'll dive in this week and see if we can fix this before the 1.0 release!

was this using the latest beta btw ?

[2015-09-16 05:45] jamesarosen commented on #30
`"ember-cli-auto-complete": "1.0.0-beta.2",`

[2015-09-16 22:29] jamesarosen opened #32 "Menu constrained by overflow"
If I have the following markup:

[code]

Then the autocomplete menu will be constrained by the `overflow: auto` `<div>`.

The only workaround I can think of is to render the menu somewhere _else_ on the page. [ember-wormhole](https://github.com/yapplabs/ember-wormhole) is good for that. Thus, my recommendation would be
1. add a dependency on `ember-wormhole`
2. add a `<div id="ember-cli-autocomple

[2015-09-17 04:28] toranb commented on #32
Wow not sure I'm up for a dependency (just yet) on tether. What about some css /style rework here to fix the overflow issue? I only had this on the div for a very simple setup ... maybe it's time we provide a default and optional configuration to override it?

[2015-09-17 04:32] toranb commented on #31
It seems like (outside point of view) that the biggest "broken" feature here is the extensibility of focusOut.

The opinion about "not obvious to the user" isn't without merit I'm sure but the UX team I worked with as I put this together loved the general defaults provided and felt users learned/or expected this behavior.

about the extension point - if you prefer a different behavior (as you sugg

[2015-09-17 04:32] toranb commented on #30
Awesome -thanks dude!

Next time I plan to release a 1.0 I'll get you on the payroll to find all the issues :)

[2015-09-17 04:32] jamesarosen commented on #32
The rule is that the `overflow: hidden` (or auto) element must be inside the closest positioned element. Therefore, you'd have to remove the `position: relative` altogether. That means that the menu, which is absolutely positioned, would be relative to an unknown `position: relative` parent.

You could calculate the component's offset and dynamically position the menu relative to it with JS.

Ther

[2015-09-17 04:38] jamesarosen commented on #31
Yes, I think if you moved the callback in focusOut to a public instance method I could pretty easily get the behavior I want.

[2015-09-17 04:41] toranb commented on #25
It seems like this _selectedValue has come up a few times (other issues anyway). I like the workaround but agree with you that this should be the default (as the goal of this component is to search/select not update the value)

[2015-09-17 04:42] toranb commented on #24
Is this code snippet something we could drop in to prevent this (ie- does it solve your need/keep the component working as-is)?

[2015-09-17 04:45] jamesarosen commented on #24
I'll check our app. I'm pretty sure that's what we're using.

[2015-09-17 15:19] mjuniper commented on #11
I took a stab at this too. My approach is based on @gte451f's but with some changes.

The `triggerSuggestions` thing seemed like an unnecessary hack. So I have `suggestions` observe only `options` and I have an `_updateOptions` method that observes `inputVal`. I think this accomplishes the same thing but maybe I'm missing something.

Also, I have the "data access" (just Ember.run.later for purpose

[2015-09-17 16:21] mjuniper opened #33 "Releases?"
I'm a bit confused. NPM (https://www.npmjs.com/package/ember-cli-auto-complete) says this addon is at 0.2.1 and, of course that's what I get when I `npm install ember-cli-auto-complete --save-dev` or `ember install ember-cli-auto-complete`. But npm says that is the latest of 21 releases and this repo says there are no releases and package.json on master says that the current version is 1.0.0-beta.

[2015-09-17 16:28] mjuniper commented on #11
Related to this, it seems to me that when using a remote store for suggestions, it would make sense to not have it pop up on focus. `hideWhenNoSuggestions` (which does not seem to be implemented in the version I got from npm) doesn't quite meet this need because we would still want to tell the user, "there are no suggestions for what you typed". Which is different from, "you haven't typed anything

[2015-09-17 16:53] toranb commented on #33
The last non beta release was 0.2.1 and we've been working on a beta release (you could install it doing this)

[code]

Admittedly I've been slow to ship the official 1.0 release. A large part is that the api went through some legit breaking changes since 0.2.1 (a valid reason to semver this thing up to 1.0.0) but we also have a TON of issues showing up this week from @jamesarosen and I'd like to

[2015-09-17 16:55] toranb commented on #11
@mjuniper great point about the suggestions conflict. I should mention that if you are adding this be sure to work off master/ prepare for this to be a 1.0.0 feature (if that's fair for you). If you are busy/we could always ship this as 1.1.0 or later (no rush)

[2015-09-18 11:33] toranb commented on #27
I finally got around to adding this and like throwing out an observer any day of the week

https://github.com/toranb/ember-cli-auto-complete/pull/28/files

Is the simple implementation I used in the PR fine? Can you/do you want to override it for special ember-data work like you showed above then or ?

This works great @jamesarosen -thanks for pushing us forward!

[2015-09-19 14:07] #29 closed, assigned to nobody

[2015-09-23 17:25] jamesarosen commented on #27
#28 looks awesome. I'm impressed you found a good test for the problem.

[2015-09-23 17:28] jamesarosen commented on #24
This is exactly what we're using in our app and it works great.

[2015-09-24 01:36] toranb commented on #32
The more I think through this issue the more I want to pass you off to a fork :( but because I hate to be a jerk (not supporting you in this effort) I wanted to express "why"

I wrote this addon to be a _very_ simple addon (an alternative to the really robust/complex addons I've seen in the past). I think it's fair to ask that if you need to grow this beyond what I'm willing to maintain/bolt on it

[2015-09-24 02:32] jamesarosen commented on #32
I don't have time to actually maintain a FOSS project -- even a fork. But I could try fixing it in my app and letting you know what hooks might help. For example, it might help to have a `didShowMenu` that is a no-op by default. Or emit an event on the component of the same name.

[2015-09-29 16:59] jamesarosen opened #36 "Cannot use ArrayProxy for suggestions"
https://github.com/toranb/ember-cli-auto-complete/blob/aac91fd0fef3d2af918f57cbd046b993a4dd3cd1/addon/components/auto-complete.js#L101

Should be `.get('suggestions.length')` because `length` is a `ComputedProperty` on `ArrayProxy` objects.

[2015-09-30 01:00] toranb commented on #36
Totally cool to change this but what would a test setup look like? I see this and it would appear an ArrayProxy is in the mix -no?

https://github.com/toranb/ember-cli-auto-complete/blob/master/tests/dummy/app/routes/foo.js#L8

[2015-09-30 04:14] jamesarosen commented on #36
Easy!

[code]

The reason your existing tests didn't catch it is that your `determineSuggestions` was converting to `Ember.A()`.

[2015-09-30 13:38] jamesarosen opened #37 "Component Hard-Codes layoutName"
The README states,

In fact, `my-auto-complete.hbs` won't do anything because its parent [specifies](https://github.com/toranb/ember-cli-auto-complete/blob/aac91fd0fef3d2af918f57cbd046b993a4dd3cd1/addon/components/auto-complete.js#L29)

[code]

If possible, I suggest removing this manual specification. Otherwise, document that template name.

[2015-09-30 18:56] jamesarosen commented on #36
PS: is there a reason the docs say to override `suggestions` instead of `determineSuggestions`?

[code]

[2015-10-12 00:36] toranb commented on #36
@jamesarosen just waiting for a documentation update (thankfully that's coming -note the PR below)

https://github.com/toranb/ember-cli-auto-complete/pull/35#issuecomment-147133129

[2015-10-12 00:38] toranb commented on #37
@jamesarosen is this covered via the comment (number 3) in this PR ?

https://github.com/toranb/ember-cli-auto-complete/pull/35#issuecomment-147133129

[2015-10-12 00:39] toranb commented on #37
@jamesarosen disregard the previous comment -that's not template/layout related as I originally thought

[2015-10-12 18:47] jamesarosen commented on #6
One option would be to yield `|item, isHighlighted|`. The other is the [above-mentioned `ObjectProxy`](http://emberjs.com/api/classes/Ember.ObjectProxy.html).

[2015-10-12 18:49] jamesarosen commented on #6
This is also a problem because the call is `item.set('highlight', false)` rather than `Ember.set(item, 'highlight', false)`. That requires every item to be an `Ember.Object` instance.

[2015-10-16 09:25] ghost opened #39 "Multiple Instances"
How can i create Multiple Input from same instance "Repeater or Table". Ex. i will add product list in bill each row should be able to filter products that are in same store.

[2015-10-16 13:51] toranb commented on #39
So you need a true multi-select? Honesty this wasn't built with that type of feature set in mind and I've personally been using ember-cli-selectize for my "mutli-select" needs (great addon/easy to acceptance and integration test)

https://github.com/miguelcobain/ember-cli-selectize

[2015-10-16 13:54] #39 closed, assigned to nobody

[2015-10-16 13:57] toranb commented on #37
@jamesarosen can we/should we remove this line

[code]

And if so -wouldn't others using it need to specify this? I added this originally because I wanted to keep the "use the addon" api small. Is this a benefit for the "bolt on/ extend" user instead of the "just add it and go" user ?

[2015-10-16 13:58] toranb commented on #36
@jamesarosen so I still need to alter this addon for ArrayProxy correct -the documentation point was another issue (solved w/ the docs in 35) -correct?

[2015-10-16 13:59] toranb commented on #33
**update**

The latest is 1.0.0 beta 3

[code]

[2015-10-16 21:11] jamesarosen commented on #36
I believe that is correct.

[2015-10-16 21:14] jamesarosen commented on #37
For a component in `app/components/auto-complete.js`, the default template would be in `app/templates/components/auto-complete.hbs`, so I think all you've done is hard-code the default. Unfortunately, hard-coding means subclasses inherit the fixed value rather than the "look up" behavior.

[2015-10-17 06:12] ghost commented on #39
Great work, thnx for replay. @toranb

[2015-11-03 22:47] LexLythius opened #42 "focusOut broken for scrollable lists when document is also scrolled on webkit"
If you make the suggestion list scrollable (max-height, overflow-y, etc) and you try to drag the scrollbar button (as opposed to using the mousewheel), the component does the right thing until you scroll the containing document (might also happen with other scrollable containing elements). But once you scroll the document, a focusOut is triggered as soon as you mousedown on the list scrollbar.

If

[2015-11-04 01:56] toranb commented on #42
Wow this is a great issue w/ jsbin and everything! I don't have a ton of bandwidth for this particular OSS project as of late and I wanted to communicate it in the event you find I'm less responsive than usual :(

I've been playing a lot w/ ember-cli-selectize and the latest "power-select" also to see what I can learn from those projects.

[2015-11-30 21:16] jking6884 opened #43 "hiding the dropdown seems to be broken"
[code]

even though the computed property `visibility` is called inside the class attribute, when it is rendered in the browser, it is being rendered like this.

[code]

so the `hidden` is not being interpreted as a style.

[2015-12-01 14:31] #43 closed, assigned to nobody

[2015-12-01 15:20] toranb commented on #43
all good then or ?

[2016-01-16 02:45] #25 closed, assigned to nobody

[2016-01-16 02:45] #31 closed, assigned to nobody

[2016-01-16 02:46] #6 closed, assigned to nobody

[2016-01-16 02:46] #27 closed, assigned to nobody

[2016-01-16 02:46] #24 closed, assigned to nobody

[2016-01-16 02:46] #30 closed, assigned to nobody

[2016-01-16 02:47] toranb commented on #11
@mjuniper @gte451f after months of me neglecting this addon I've decided to give it up :(

I've made the switch to ember-power-select in the last few months and it's worth a look if you need a full featured/yet extensible select component

[2016-01-16 02:47] #11 closed, assigned to nobody

[2016-01-16 02:47] #32 closed, assigned to nobody

[2016-01-16 02:47] #33 closed, assigned to nobody

[2016-01-16 02:47] #37 closed, assigned to nobody

[2016-01-16 02:47] #36 closed, assigned to nobody

[2016-01-16 02:48] toranb commented on #22
Unfortunately this project has been at the low end of my OSS priority list the last few months. In addition, ember-power-select was released and does the work I set out to do here but with a much larger community to back it and a more modern ember 2.x approach.

Today I've declared this addon dead unless someone wants to take it over

[2016-01-16 02:48] #22 closed, assigned to nobody

[2016-01-16 02:49] #42 closed, assigned to nobody